<!doctype html>
<html>
  <head>
    {% load static%}
    <title>Tech-nology</title>
    <link href="{% static 'img/icon.png'%}" rel="shortcut icon" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/noticias.js'%}"></script>
  
     <!-- Bootstrap core CSS -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  
     <!-- Custom styles for this template -->
     <link href="{% static 'css/business-frontpage.css'%}" rel="stylesheet">
  
    <!--Link hacia los iconos-->
    <link href="https://use.fontawesome.com/5e22f11e35.css" media="all" rel="stylesheet">
  
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-png">
              <img src="{% static 'img/icon.png'%}" style="width: 70px; height: 55.47px;">
            </span>
          </button>
    
      <!---Icono de logo-->
          <a class="navbar-brand" href="{% url 'Index' %}">
            <img src="{% static 'img/icon.png'%}" style="width:70px">
          </a>
    
      <!---Opciones de navegación e iconos por sección-->    
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'Index' %}">Inicio<span class="sr-only">(current)</span></a> 
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="api">Criptomonedas</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="news">Noticias</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="who-r-we">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="galeria">Galería de fotos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="contactenos">Contáctenos</a>
              </li>

              <!-- Div de acceso-->
              <div class="ini-se">
                <li class="nav-item">
                  <a class="nav-link active" href="ini-se">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="registro">Registrarse</a>
                </li>   
              </div>
              
            </ul>
          </div>
        </div>
      </nav>

      <!--Container con noticias-->
<br>
      <div class="container">   
        <br><br>
        <div class="row">       
          <div class="col-md" >        
              <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card" >
                <img class="card-img-top"  src="{% static 'img/Nvidia-RTX-3080-Founders-Edition.jpg'%}">            
                <div class="card-body">
                <h4  class="card-title">La falta de stock de componentes y sus repercusiones</h4>
                <p  class="card-text" style="color: #000000">La escasez de tarjetas gráficas en el mundo está provocando que NVIDIA, una de las dos empresas más grandes del mercado, empiece a “revivir” series descontinuadas. Ahora, sería la 1080 Ti la indicada.</p>
                  <a href="https://rpp.pe/tecnologia/pc/nvidia-esta-considerando-revivir-la-produccion-de-tarjetas-graficas-gtx-1080-ti-por-falta-de-stock-mundial-noticia-1330029?ref=rpp" class="btn btn-primary" target="_blank" >Leer</a>
                </div>               
                </div> 

              <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/vhRRTWovnDjVjZ84mN6Twg.jpg'%}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">Intel ya tiene problemas de stock con sus Rocket Lake-S</h4>
                <p class="card-text" style="color: #000000;">Parece que ni las propias fundiciones de Intel se salvarán de presentar problemas de stock de sus procesadores Rocket Lake-S.</p>
                <a href="https://elchapuzasinformatico.com/2021/04/intel-ya-tiene-problemas-de-stock-con-sus-rocket-lake-s-no-todo-era-tan-bonito-como-parecia/" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>     
              <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/granjita.jpg' %}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">Compañía compra 18 mil GPU a NVIDIA para minería de criptomonedas gastándose más de 30 millones de dólares</h4>
                <p class="card-text" style="color: #000000;">30 millones de dólares gasto Hut 8 Mining Corp en la línea Nvidia CMP HX</p>
                <a href="https://www.tarreo.com/noticias/616716/Compania-compra-18-mil-GPU-a-NVIDIA-para-mineria-de-criptomonedas-gastandose-mas-de-30-millones-de-dolares" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>   
                <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/eres_adicto.jpg'%}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">¿Eres «adicto»? Crean cuestionario para detectar dependencia a videojuegos</h4>
                <p class="card-text" style="color: #000000;">El pasado 26 de mayo de 2019 se marcó historia en la industria de los videojuegos. 
                  Después de un año de debate, oficialmente la Organización Mundial de la Salud (OMS) 
                  decidió sumar la adicción a los videojuegos como un «transtorno mental». En un movimiento 
                  que responde a la definición</p>
                  <a href="https://www.tarreo.com/noticias/529373/Eres-adicto-Crean-cuestionario-para-detectar-dependencia-a-videojuegos" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>  
                <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/lg1.jpg'%}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">LG se rinde y deja de fabricar smartphones</h4>
                <p class="card-text" style="color: #000000;">La brutalidad del mercado de los teléfonos inteligentes cobra una nueva víctima.</p>
                <a href="https://www.biobiochile.cl/noticias/ciencia-y-tecnologia/moviles-y-apps/2021/04/05/lg-se-rinde-y-deja-de-fabricar-smartphones-como-te-afectara-como-usuario.shtml" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>   
              <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/xbox2.jpg'%}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">Escasez de chips en el mundo se estaría transformando en una crisis</h4>
                <p class="card-text" style="color: #000000;">La falta de estos componentes ha afectado la producción de PS5, Xbox Series X y otras industrias tecnológicas en el mundo. </p>
                <a href="https://www.latercera.com/mouse/escasez-de-chips-en-el-mundo-se-estaria-transformando-en-una-crisis/" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>   
              <br><br>
              <div class="card">
                <img class="card-img-top" src="{% static 'img/compras_informales.jpg'%}">            
                <div onmouseover="Mover(this)" onmouseout="MoverFuera(this)" style="background-color: lightgray;" class="card-body">
                <h4 class="card-title">Compras informales por internet tuvieron fuerte incremento en 2020</h4>
                <p class="card-text" style="color: #000000;">Esta situación se debió principalmente a los efectos de la pandemia del Covid-19. </p>
                <a href="https://cooperativa.cl/noticias/pais/consumidores/compras-informales-por-internet-tuvieron-fuerte-incremento-en-2020/2021-03-09/103612.html" class="btn btn-primary" target="_blank">Leer</a>
                </div>
                </div>   
                </div>
             </div>
          </div>
<br>
   <!-- Footer -->
   <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Juan Álvarez, Pablo Ortiz y Daniel Retamal @Copyrigth Derechos reservados.</p>
    </div>
    <div class="container" style="text-align: center;">
      <h3 class="footer__title" >Síguenos</h3>
      <div class="footer__social-networks">
      <a class="a-social-networks" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>		
      <a class="a-social-networks" href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>