<!doctype html>
<html>
  <head>
    {% load static %}
    <title>Tech-nology</title>
    <link href="{% static 'img/icon.png' %}" rel="shortcut icon" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    
  
     <!-- Bootstrap core CSS -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  
     <!-- Custom styles for this template -->
     <link href="{% static 'css/business-frontpage.css'%}" rel="stylesheet">
  
    <!--Link hacia los iconos-->
    <link href="https://use.fontawesome.com/5e22f11e35.css" media="all" rel="stylesheet">
  
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-png">
              <img src="{% static 'img/icon.png'%}" style="width: 70px; height: 55.47px;">
            </span>
          </button>
    
      <!---Icono de logo-->
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'img/icon.png'%}" style="width:70px">
          </a>
    
      <!---Opciones de navegación e iconos por sección-->    
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="">Inicio<span class="sr-only">(current)</span></a> 
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="api">Criptomonedas</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="news">Noticias</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="who-r-we">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="galeria">Galería de fotos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="contactenos">Contáctenos</a>
              </li>

              <!-- Div de acceso-->
              <div class="ini-se">
                <li class="nav-item">
                  <a class="nav-link active" href="ini-se">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="registro">Registrarse</a>
                </li>   
              </div>
              
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">   
        <h1 class="tittle">Acerca de nosotros</h1>
        <div class="content-wrw-l">
          <div class="img-wrw">
            <img src="img/img-quienes-somos-2.png" class="img-wrw-start_png">
          </div>
          <div class="titlle">
            <h2 class="tittle-wrw-1">
              Quienes somos
            </h2>
            <div class="wrw-content">
                <p class="p-wrw-1">
                  Somos un grupo de estudiantes de la carrera de ingeniería en informática, 
                  reunidos por un gran motivo en común, la tecnología. Como grupo de trabajo 
                  estamos empeñados en crear una empresa destinada a las noticias, pero noticias 
                  que sean verdaderas e importantes, de manera que, las personas no nos visiten 
                  por un título tendencioso o solo por querer obtener ganancias a base de la 
                  publicidad por clicks. 
                </p>
            </div>
          </div>

          <div class="titlle">
            <h2 class="tittle-wrw-2">
              Descripción precisa del objetivo del sitio web
            </h2>
            <div class="wrw-content">
                <p class="p-wrw-2">
                  La página web tiene como objetivo informar a las personas acerca de las últimas 
                  noticias sobre tecnología, especialmente el mundo de la informática. De esta forma 
                  es esencial entregar un contenido de calidad al lector, presentando las últimas 
                  novedades de la red.
                </p>
            </div>
          </div>		

          <div class="titlle">
            <h2 class="tittle-wrw-3">
              Empresa
            </h2>
            <div class="wrw-content">
                <p class="p-wrw-3">
                  La empresa pertenece al área de la informática, enfocada a entregar las noticias más 
                  actuales, con el fin de informar a las personas interesadas en el mundo de la tecnología. 
                  Esta empresa es sin fines de lucro, pero que contaría con publicidad en un futuro, solamente 
                  para sustentar todos los costos que significan mantener una página web.
                </p>
            </div>
          </div>	

          <div class="titlle">
            <h2 class="tittle-wrw-4">
              Visión
            </h2>
            <div class="wrw-content">
                <p class="p-wrw-4">
                  La visión como empresa es entregar información de calidad al lector que desea enterarse de 
                  las últimas novedades, noticias o detalles del área de la tecnología, pudiendo entregar el 
                  mejor servicio de la mejor forma posible y sin costo alguno.
                </p>
            </div>
          </div>	

          <div class="titlle">
            <h2 class="tittle-wrw-5">
              Misión
            </h2>
            <div class="wrw-content">
                <p class="p-wrw-5">
                  Como organización, nuestra misión es ser la página de noticias número uno de todo internet, 
                  destacando por entregar información fidedigna, de calidad y diversa, con el fin de ser la 
                  primera opción para las personas al momento de informarse de los nuevos avances tecnológicos.
                </p>
            </div>
          </div>	  
        </div>

       

      <div class="tittle-video">
        <h1>Video de presentacion </h1>
      </div>
      <div class="div-video">
        <iframe class="video-player" width="560" height="315" src="https://www.youtube.com/embed/hfvr521xmi0" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
        clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>

      <div class="img-wrw-end">
        <img src="img/unnamed.png" class="img-wrw-end_png">
      </div> 
  </div>
    <!-- /.container -->

    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Juan Álvarez, Pablo Ortiz y Daniel Retamal @Copyrigth Derechos reservados.</p>
    </div>
    <div class="container-footer" style="text-align: center;">
      <h3 class="footer__title" >Síguenos</h3>
      <div class="footer__social-networks">
      <a class="a-social-networks" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>		
      <a class="a-social-networks" href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  
</body>
</html>