<!doctype html>
<html>
  <head>
    {%load static%}
    <title>Tech-nology</title>
    <link href="{% static 'img/icon.png' %}" rel="shortcut icon" >
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'js/Validacion_registro.js'%}"></script>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  
    <!-- Custom styles for this template -->
    <link href="{% static 'css/business-frontpage.css' %}" rel="stylesheet">
  
    <!--Link hacia los iconos-->
    <link href="https://use.fontawesome.com/5e22f11e35.css" media="all" rel="stylesheet">
  
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon-png">
              <img src="{% static 'img/icon.png' %}" style="width: 70px; height: 55.47px;">
            </span>
          </button>
    
      <!---Icono de logo-->
          <a class="navbar-brand" href="index.html">
            <img src="{% static 'img/icon.png' %}" style="width:70px">
          </a>
    
      <!---Opciones de navegación e iconos por sección-->    
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" href="index">Inicio<span class="sr-only">(current)</span></a> 
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="api">Criptomonedas</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="news">Noticias</a>
            </li>
              <li class="nav-item">
                <a class="nav-link active" href="who-r-we">Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="galeria">Galería de fotos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="contactenos">Contáctenos</a>
              </li>
              <div class="ini-se">
                <li class="nav-item">
                  <a class="nav-link active" href="ini-se">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="registro">Registrarse</a>
                </li>   
              </div>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="container-inside">

          <form action="index.html" method="post" name="datos" onsubmit="return validacion_registro()">
            <img src="{% static 'img/chayyane.registrate2.png' %}" class="the-greatest-man-of-all-time" alt="">
              <div class="form-group-1"> 
                <label for="email">Email:</label>
                <input type="email" name="em" class="form-control" id="email" onchange="CambiarMayusculas()" placeholder="Digite su email" autofocus>
              </div> 

              <div class="form-group"> 
                <label for="nombre">Nombre: *</label>
                <input type="text" name="nom" class="form-control" id="nombre" onchange="CambiarMayusculas2()" placeholder="Digite su nombre">
              </div> 

              <div class="form-group"> 
                <label for="nombre_usuario">Nombre de usuario: *</label>
                <input type="text" name="nickna" class="form-control" id="nick" onchange="CambiarMayusculas3()" placeholder="Digite su nombre de usuario">
              </div> 

              <div class="form-group"> 
                <label for="pwd">Password:</label><br>
                <input type="password" class="form-control" id="pwd" name="password" placeholder="Digite su contraseña">
              </div> 
    
              <div class="form-group">
                <label for="pwd">Ingrese su password nuevamente:</label><br>
                <input type="password" class="form-control" id="pwd2" name="password2" placeholder="Digite su contraseña">
              </div>
        
              <div class="buttom-enviar">
                    <button type="submit" class="btn btn-danger" value="Enviar Datos">Enviar</button> 
              </div>

            
              <img src="{% static 'img/chayyane.registrate.png' %}" class="just-chayanne" alt="">
            </form>
        </div>
    
      </div> 



    <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Juan Álvarez, Pablo Ortiz y Daniel Retamal @Copyrigth Derechos reservados.</p>
    </div>
    <div class="container" style="text-align: center;">
      <h3 class="footer__title" >Síguenos</h3>
      <div class="footer__social-networks">
        <a class="a-social-networks" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>		
      <a class="a-social-networks" href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a class="a-social-networks" href="#">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
      </div>
  </div>
    
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  
</body>
</html>